---
layout: default
title: Photography  
seo: 
 title: Photography Packages
 description: Sukha Designs offers photography packages which includes aerial photography, portrait photography and travel photography for tourism boards, businesses and brands around the world. We specialize in creating visuallly stunning and high quality digital images for our clients. 
 social_image:
 keywords: photography, photos, photoshoot, portrait photography, aerial photography, drone photography, landscape photography, travel photography, real estate photography, wedding photography, food photography, nature photography, product photography, headshot photography, street photography
 hide-from-google: false
services:
 - title: Content Strategy
   description: Combining your own ideas with curated moodboards, we create digital images with a purpose so that you can focus on building a strong online presence to represent your brand or business.
 - title: High Quality Images
   description: All of our photos are shot in RAW image format, taken with a professional mirrorless Sony Camera to produce the highest quality images for our clients.
 - title: Custom Editing
   description: Using a professional editing software, we can enhance digital images to support your ideas and aesthetic so that you can stay on brand whether it's personal or for your business.
 - title: Brand Development & Photoshoots
   description: Our lifestyle photoshoots create beautiful imagery for you or your products, helping to align your brand with your business objectives. Our photography packages include portrait photography, lifestyle photography, food photography, hospitality photography and more. 
 - title: Photography Packages
   description: We offer a wide range of photography packages including resort photography, hospitality & tourism boards. We also create stylized product photography for brands, lifestyle, family & single photoshoots.
 - title: Digital Strategy
   description: We work with you to prioritize which social media platforms are best for your brand and business. Our goal is to increase exposure through organic traffic utilizing digital marketing, SEO & Pinterest.
---
    <!---------- HEADER & NAV BAR (BOOTSTRAP) ------------>
    <nav>
        {% include header-nav-pages.html %}
    </nav>

    <!------------ INTRO SECTION WITH BLOCKS AND PHOTO ----------->
    <section class="grid bg-beige">
        <div class="col-6_md-12-middle bg-grey padded slider-container">
            <div class="slider-item">
                <div class="bg-image bg-lofoten portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-mandrn portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-mandalay portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-portrait portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-firenze portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-nyc portrait white-border"></div>
            </div>
            <div class="slider-item">
                <div class="bg-image bg-cinque-terre portrait white-border"></div>
            </div>
        </div>
        <div class="col-6_md-12-middle">
            <img src="images/Sun-Icon.png" width="25%" height="25%">
            <h3 class="margin-top center padding-t xl-text">Photography</h3>
            <h3 class="padded center gold-text med-text normal-text">Connect with your audience by creating captivating, fresh content and visually stunning digital images. Sukha Designs is a creative agency specializing in professional photography to help you elevate your online presence through social media, websites, digital marketing and more. </h3>
        </div>
    </section>

    <!---------------- PHOTOGRAPHY BLURB SECTION -------------->
    <section class="grid tall-30 bg-paper padded hide">
        <!-- <hr class="margin-bottom"> -->
        <div class="col-12-middle center">
            <h3 class="sm-text padding-r padding-l margin-bottom" data-aos="fade-in">Photography is more than just a beautifully captured photo with a pretty background and ideal lighting. It's a way of telling <em> your </em>story and delivering those emotions to the world. </h3>
        </div>
        <!-- <hr> -->
    </section>

    <!---------------- EXPLORE PHOTOGRAPHY SECTION -------------->
    <section class="grid bg-dark-beige padded">
        <div class="col-4_sm-12-middle">
            <a href="travel.html">
                <div data-aos="fade-up" class="hover-container bg-image bg-santorini tall-70 beige-border">
                    <div class="hover-overlay">
                        <div class="hover-inner">
                            <h3 class="center white-text lg-text" data-aos="fade-in">travel</h3>
                        </div>
                    </div>
                </div> 
            </a>
        </div>
        <div class="col-4_sm-12-middle">
            <a href="portrait.html">
                <div data-aos="fade-up" class="hover-container bg-image bg-portrait tall-70 beige-border">
                    <div class="hover-overlay">
                        <div class="hover-inner">
                            <h3 class="center white-text lg-text" data-aos="fade-in">portrait</h3>
                        </div>
                    </div>
                </div> 
            </a>
        </div>
        <div class="col-4_sm-12-middle">
            <a href="aerial-photography.html">
                <div data-aos="fade-up" class="hover-container bg-image bg-coron tall-70 beige-border">
                    <div class="hover-overlay">
                        <div class="hover-inner">
                            <h3 class="center white-text lg-text" data-aos="fade-in">aerial photography</h3>
                        </div>
                    </div>
                </div> 
            </a>
        </div>
    </section>

    <!----------- PHOTOGRAPHY SERVICE DETAILS ------------>
    <section class="grid-center bg-paper tall-50 padded">
        <div class="col-12-middle center">
            <h3 class="dark-grey-text xl-text">photography that helps you tell <em> your </em> story.</h3>
        </div>

        {% for item in page.services %}
        <div class="col-4_md-4_xs-12 padded-md" data-aos="zoom-in">
            <h5 class="margin-bottom">{{item.title}}</h5>
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </section>

    <!--------- ADDITIONAL NAV BAR SECTION ------------>
    <section class="grid tall-40 split-beige padded">
        <div class="col-1-middle center">
            <nav>
                <p class="nav-hover padding-r margin-right padding-b" data-aos="fade-in">
                    <a href="index.html">home </a>
                </p>
                <p class="nav-hover padding-r padding-b margin-right" data-aos="fade-in">
                    <a href="services.html">services</a>
                </p>
                <p class="nav-hover padding-r margin-right" data-aos="fade-in">
                    <a href="contact.html">contact</a>
                </p>
            </nav>
        </div>
        <div class="col-10-middle bg-image landscape-narrow center bg-siargao">
        </div>
        <div class="col-1"></div>
    </section>

    <!---------------- CONTACT SECTION -------------->
    <section class="grid bg-eggshell tall-20 padded">
        <div class="col-12-middle center">
            <h3 class="margin-bottom xl-text dark-grey-text">let's bring your <em> visual ideas </em>to life.</h3>
            <p class="padding-r padding-l margin-bottom sm-text">Get in touch so we can elevate your brand and business through photography and digital creation.</p>
            <a class="button box-shadow" href="mailto:marisa@thisworldtraveled.com">contact us</a>
        </div>
    </section>