---
layout: default
title: Web Design, Web Development and Photography Services
seo: 
 title: Web Design, Web Development and Photography Services
 description: Sukha Designs is a creative agency specializing in website development, website design, photography and content creation. 
 social_image:
 keywords: web design, web development, photography, services, mobile friendly, responsive, web developer, website developer, website designs, website designer, coding, content creation, digital creation, digital images, website
 hide-from-google: false
---
    <!---------- HEADER & NAV BAR (BOOTSTRAP) ------------>
    <nav>
        {% include header-nav-pages.html %}
    </nav>

       <!--------- TOP PHOTO SECTION ------------>
    <section class="grid split-white tall-40 padded">
        <div class="col-1">
        </div>
        <div class="col-10-middle bg-image landscape-narrow center bg-computer-design">
        </div>
        <div class="col-1"></div>
    </section>

      <!------------- SERVICES SECTION ---------------->
<section>
    {% include services-list.html %}
</section>

    <!--------- ADDITIONAL NAV BAR SECTION ------------>
    <section class="grid split-beige tall-40 padded">
        <div class="col-1-middle center">
            <nav>
                <p class="nav-hover padding-r margin-right padding-b" data-aos="fade-in">
                    <a href="index.html">home </a>
                </p>
                <p class="nav-hover padding-r padding-b margin-right" data-aos="fade-in">
                    <a href="web-development.html">website</a>
                </p>
                <p class="nav-hover padding-r margin-right" data-aos="fade-in">
                    <a href="photography.html">photo</a>
                </p>
                <p class="nav-hover padding-r margin-right" data-aos="fade-in">
                    <a href="contact.html">contact</a>
                </p>
            </nav>
        </div>
        <div class="col-10-middle bg-image landscape-narrow center bg-ocean">
        </div>
        <div class="col-1"></div>
    </section>