* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    border: none;
}

/* Typography Styles */

h1, h2, h3, h4 {
    font-family: Didot;
}

h2 {
    font-size: 4.6rem;
    color: #958A72;
}

h3 {
    font-size: 3.4rem;
    color: #9F6C62;
}

h4 {
    font-size: 1.5rem;
    /* color: rgb(60,60,65); */
    color: #958A72;
    margin-bottom: 1.1rem;
}

section a {
    text-decoration: none;
}

section a:hover {
    border-bottom: 2px solid #9eb6a8;
}

p {
    line-height: 1.4;
    margin-bottom: 1rem;
    color: rgb(90,90,95);
    font-family: Didot;
    font-size: 1.1rem;
}

p:last-child {
    margin-bottom: 0;
}

header a {
    text-decoration: none;
    color: #958A72;
    display: inline-block;
    padding: 0.8rem;
    cursor: pointer;
}

nav a:hover {
    border-bottom: 2px solid #9eb6a8;
}

header h1 {
    font-family: Didot;
    font-weight: normal;
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #9F6C62;
}

footer {
    padding: 2%;
    font-family: Didot;
    font-weight: normal;
}

footer h2 {
    font-family: Didot;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 2%;
    line-height: 0.8;
}

footer a {
    text-decoration: none;
    color: rgb(60,60,65);
    padding: 0.6rem;
    display: inline-block;
    margin: 0.1rem;
}

footer a:hover {
    color: #9eb6a8;
}

/* Image Styles */

.bg-image {
    background-size: cover;
    min-height: 10rem;
}

.bg-arch {
    background-image: url('./images/delicate-arch.jpg');
    background-position: 50% 35%;
}

.bg-moonscape {
    background-image: url('./images/moonscape-overlook-utah.jpg');
    background-position: center;
}

.bg-moon {
    background-image: url('./images/moonscape-overlook.jpg');
    background-position: bottom;
}

.bg-ocean {
    background-image: url('https://source.unsplash.com/okVXy9tG3KY');
    background-position: center;
}

.bg-plant {
    background-image: url('https://source.unsplash.com/Sg7eWHKrxrA');
    background-position: center;
}

.bg-desert {
    background-image: url('https://source.unsplash.com/3B_NrzTjajc');
    background-position: center;
}
/* Utility Classes & Universal Styles */

.padded { padding: 5%; }
.padded-sm { padding: 1rem; }
.padded-lg { padding: 10%; }

.margin-top { margin-top: 3%;}
.margin-right { margin-right: 3%; }
.margin-left { margin-left: 3%; }
.margin-bottom { margin-bottom: 3%; }


.tall-30 { min-height: 30vh; }
.tall-40 { min-height: 40vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }

.bg-dark-beige { background-color: #f4eee6; }
.bg-light-beige { background-color: #fff9f5}

/* Special Classes */

.header-home {
    padding: 1% 5%;
}

.header-content {
    padding: 1% 1%;
}

.social-links i {
    font-size: 1.5rem;
}

.copyright {
    font-family: Didot;
    font-weight: normal;
    font-size: 0.7rem;
    padding: 2% 3%;
}

.nav-text {
    font-size: 2rem;
    line-height: 0.8;
    padding: 0 2%;
}

.border {
    border: 1px solid grey;
}

/* Media Queries */

@media (max-width: 64em) {
    footer {
        padding: 5%;
    }
    footer h2{
        margin-top: 1.5rem;
    }
}

@media (max-width: 36em) {
    footer, footer .right {
        text-align: center;
    }
    footer nav {
        padding-top: 1rem;
    }
}