

      <!------ HEADER FOR NAV PAGES ------->

      <!-- <header class="grid-spaceBetween-middle bg-paper">
        <div class="col-3_sm-12">
            <a href="./index.html">
                <img src="/images/sukha-designs-logo-3.png" alt="sukha designs logo" width="50%" height="50%">
            </a>
        </div>
        <div class="col-7_sm-12 right">
            <nav class="primary-links">
                <a  href="./web-development.html" class="nav-hover">web development</a> 
                <a  href="./web-design.html" class="nav-hover">web design</a> 
                <a  href="./photography.html" class="nav-hover">photography</a>
            </nav>
        </div>
      </header> -->

      <header class="grid bg-paper">
        <div class="col-6-middle">
            <a href="./index.html">
                <img src="/images/sukha-designs-logo-3.png" alt="sukha designs logo" width="50%" height="50%">
            </a>
        </div>
        <nav class="primary-links col-6-middle right mob-hide">
            <a  href="./web-development.html" class="nav-hover">web design & development</a> 
            <!-- <a  href="./web-design.html" class="nav-hover">web design</a>  -->
            <!-- <a href="#">digital marketing</a> -->
            <a  href="./photography.html" class="nav-hover">photography</a>
            <!-- <a href="./creation.html" class="nav-hover">content creation</a>  -->
        </nav>
        <div class="col-6-middle">
          <div class="hamburger-button mob-show right">
              <h3 class="right ham-menu">&#9776</h3>
          </div>
        </div>
      </header>

      <div class="mobile-menu">
        <nav>
            <a href="/index.html">Home</a>
            <a href="/web-development.html">Web Design & Development</a>
            <!-- <a href="/web-design.html">Web Design</a> -->
            <a href="/photography.html">Photography</a>
            <a href="/services.html">Services</a>
            <a href="/contact.html">Contact</a>
        </nav>
    </div>



  
  
