<!---------- HEADER & NAV BAR (BOOTSTRAP) ------------>
    <nav class="navbar navbar-expand-lg header-content bg-paper">
        <div class="container-fluid">
            <a class="navbarNav nav-text" href="./index.html">
              <img src="/images/sukha-designs-logo-3.png" alt="sukha designs logo" width="50%" height="50%">
                <!-- <h1 class="nav-text mt-2">sukha designs</h1> -->
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars"></i></span>
          </button>
          <!------- These are the links to the content -------->
          <div class="collapse navbar-collapse d-flex align-items-center justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-hover" aria-current="page" href="./web-development.html">web development</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-hover" href="./web-design.html">web design</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-hover" href="./photography.html">photography</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link nav-hover" href="./creation.html">content creation</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>