    <!-------------- HEADER ---------------->
    <header class="header-home center tall-20 bg-paper">
      <a href="./index.html">
        <img class="col-12 center" src="/images/Sukha-MainLogo-Transparent.png" alt="sukha designs main logo">
      </a>
      <nav>
          <a href="./web-development.html" class="nav-hover main-mobile">web design & development</a>
          <!-- <a href="./web-design.html" class="nav-hover main-mobile">web design</a> -->
          <!-- <a href="#">digital marketing</a> -->
          <a href="./photography.html" class="nav-hover main-mobile">photography</a>
          <!-- <a href="./creation.html" class="nav-hover">content creation</a> -->
      </nav>

      <!-- <div class="col-1 right show-sm">
          <div class="hamburger-button">
            <i class="fas fa-bars"></i>
          </div>
      </div> -->

      <!-- <nav class="mobile-menu">
        <a href="./web-development.html" class="nav-hover">web development</a>
        <a href="./web-design.html" class="nav-hover">web design</a>
        <a href="./photography.html" class="nav-hover">photography</a>
      </nav> -->
  </header>
