<!------------- SERVICES SECTION ---------------->
<section class="grid bg-light-beige tall-50 padded">
    <div class="col-4_md-4_xs-12 center padded-sm" data-aos="zoom-in">
        <a href="./web-development.html">
            <h4 class="med-text margin-bottom">web development</h4>
        </a>
        <p class="editable">Sukha Designs uses the latest technologies to create a fast, responsive and secure website that is personalized, easy to manage and unique to you.  </p>
        <a class="arrow" href="web-development.html"> → </a>
    </div>
    <div class="col-4_md-4_xs-12 center padded-sm" data-aos="zoom-in">
        <a href="./web-design.html">
            <h4 class="med-text margin-bottom">web design</h4>
        </a>
        <p class="editable">Your web presence should be a reflection of your brand, therefore we create custom designs and layouts so you can stand out to your target audience. </p>
        <a class="arrow" href="web-design.html"> → </a>
    </div>
    <div class="col-4_md-4_xs-12 center padded-sm" data-aos="zoom-in">
        <a href="./photography.html">
            <h4 class="services med-text margin-bottom">photography</h4>
        </a>
        <p class="editable">Photography is a way of inspiring others through digital art. Sukha Designs creates high quality, visually stunning images for brands, businesses and clients around the globe.</p>
        <a class="arrow" href="photography.html"> → </a>
    </div>
    <!-- <div class="col-3_md-6_xs-12 center padded-sm" data-aos="zoom-in">
        <a href="./creation.html">
            <h4 class="med-text">content creation</h4>
        </a>
        <p>Showcase your business or brand with photography that emphasises your particular product or business.</p>
        <a class="arrow" href="creation.html"> → </a>
    </div> -->
    
</section>