<!---------------- FOOTER -------------->
<footer class="grid-spaceBetween-middle bg-paper">
    <div class="col-4_sm-12">
        <a href="./index.html">
            <img src="/images/Sukha-SubLogo2-Transparent.png" alt="sukha designs logo" width="25%" height="25%">
            <!-- <h2 class="rust-text">sukha designs</h2> -->
        </a>
        <p class="margin-left padding-r gold-text">A creative agency specializing in web design, web development, photography & content creation services. </p>
    </div>
    <div class="col-7_sm-12 right">
        <nav class="primary-links">
            <a  href="./web-development.html" class="nav-hover">web development</a> |
            <a  href="./web-design.html" class="nav-hover">web design</a> |
            <!-- <a href="#">digital marketing</a> -->
            <a  href="./photography.html" class="nav-hover">photography</a>
            <!-- <a href="./creation.html" class="nav-hover">content creation</a>  -->
        </nav>
        <nav class="social-links">
            <a href="https://www.instagram.com/sukhadesigns/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/sukhadesignco/" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <!-- <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a> -->
        </nav>
    </div>
</footer>
    
<!------------COPYRIGHT--------->
<section>
        <h4 class="copyright center bg-paper"><a href="https://www.sukhadesigns.com">website by sukha designs | copyright 2021</a></h4>
</section>

