<!---------------- FOOTER -------------->
<footer class="grid-spaceBetween-middle bg-paper">
    <div class="col-4_sm-12">
        <a href="./index.html">
            <h2 class="rust-text">sukha designs</h2>
        </a>
        <p class="margin-left padding-r gold-text">A creative agency specializing web design, web development, photography & content creation services. </p>
    </div>
    <div class="col-7_sm-12 right">
        <nav class="primary-links">
            <a  href="./development.html" class="nav-hover">web development</a> |
            <a  href="./design.html" class="nav-hover">web design</a> |
            <!-- <a href="#">digital marketing</a> -->
            <a  href="./photography.html" class="nav-hover">photography</a>
            <!-- <a href="./creation.html" class="nav-hover">content creation</a>  -->
        </nav>
        <nav class="social-links">
            <a href="https://www.instagram.com/sukhadesigns/">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- <a href="#">
                <i class="fab fa-facebook"></i>
            </a> -->
            <!-- <a href="#">
                <i class="fab fa-linkedin-in"></i>
            </a> -->
        </nav>
    </div>
</footer>
    
<!------------COPYRIGHT--------->
<section>
        <h4 class="copyright center bg-paper">website by sukha designs | copyright 2021 </h4>
</section>